body {
	background-color: #5b7989;
	color: white;
	font-family: Raleway;
	min-height: 100px;
	width: 100%;
	text-align:center;
}
img:hover{
	transform:scale(0.9);
}
img{
    transition:all 0.5s ease;
}
header h1{
	text-align: center;
}

#contenido {
	display: flex;
	flex-direction: column;
}

#contenido > h1 {
	padding: 10px;
	text-align:center;
}

footer {
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
}

.contenedor {
	display: flex;
	flex-direction: rows;
	background-color: #d5c75f;
}

img{
	border: 2px solid white;
	width: 300px;
	
}

.contenedor > div {
	text-align: left;
	padding: 10px;
	margin: 10px;
	width: 50%;
}
#imagen3 img{
-webkit-filter: sepia(90%);
filter: sepia(90%);
}
#imagen1 img{
	-webkit-filter: blur(10px);
filter:blur(10px);
}
#imagen2 img{
	-webkit-filter: grayscale(100%);
filter:grayscale(100%);
}
#imagen4 img{
	-webkit-filter: grayscale(100%);
filter:grayscale(100%);
}
#imagen6 img{
	-webkit-filter: grayscale(100%);
filter:grayscale(100%);
}
footer{
	color:black;
	text-align:center;
	background-color: #C6d5c5;
}
@font-face {
  font-family: 'FreeSans';
  src: url('FreeSans.otf');
}

h1{
  font-family: 'FreeSans';
  font-size: 2em;
  font-variant: small-caps;
  font-weight: bold;
}
h2{
	color:red
	}
p{
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
}
